#apptitle{
  font-size: 60px;
  font-weight: 800;
  color:white;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  padding: 20px;
  background-color: #1a1a1a; 
}

.card {
  display: grid;
  grid-template-areas:
    "image"
    "title";
  grid-template-rows: auto auto 1fr;
  padding: 20px; 
  background: white;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s, background 0.3s; 
  position: relative;
}

.card:hover {
  transform: translateY(-5px); 
  background: #d7a2d0; 
  color: white;
}

.card-image {
  grid-area: image;
  width: 100%; 
  height: 200px; 
  object-fit: cover;
  border-radius: 10px; 
}

.card h3 {
  grid-area: title;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 0; 
  text-align: center;
  font-size: 1.5em; 
}

.card year,
.card length {
  margin: 5px 0; 
  text-align: right;
  display: block;
  color: #333;
  font-size: 0.9em; 
}

.card songname {
  grid-area: title;
  font-family: 'Congenial Black', 'Algerian', 'Arial Black';
  font-size: 1.2em; 
  text-align: center;
  color: #333; 
}

@media (max-width: 768px) {
  #apptitle {
    font-size: 30px;
    text-align: center;
  }

  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
  }

  .card {
    padding: 15px;
  }

  .card-image {
    height: 150px;
  }

  .card h3 {
    font-size: 1.2em;
  }

  .card year,
  .card length {
    font-size: 0.8em;
  }

  .card songname {
    font-size: 1em;
  }
}
